* {
    color: #54656f;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: hsla(0, 0, 100%, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .1);
    border-radius: 25px;
}